---
import { prettyDate } from "@lib/utils";
import type { CollectionEntry } from "astro:content";
import { readFile } from "node:fs/promises";
import { dirname, join } from "node:path";

type Props = {
  entry: CollectionEntry<"work">;
};

const { entry } = Astro.props;

const fileDir = dirname(entry.filePath ?? "");
const logoPath = join(process.cwd(), fileDir, "logo.svg");
let logoSvgText = null;

try {
  logoSvgText = await readFile(logoPath, {
    encoding: "utf-8",
  });
} catch (e) {
  logoSvgText = null;
}

const dur = `${prettyDate(entry.data.startDate)} — ${prettyDate(entry.data.endDate)}`;
---

<a
  href={`/${entry.collection}/${entry.id}`}
  class="BlogCard group relative flex flex-wrap items-start gap-3 rounded-xl py-3 pl-1 no-underline transition-all duration-300"
>
  {logoSvgText && <span set:html={logoSvgText} class="aspect-square h-8 self-start pt-1" />}
  <div class="flex flex-col truncate flex-1">
    <span class="truncate font-bold">
      {entry.data.role}
    </span>
    <span class="truncate text-sm">
      <span class="font-semibold">{entry.data.company}</span>
    </span>
  </div>
  <span class="font-mono text-xs tabular-nums w-full ml-11 md:w-auto md:self-start md:pt-1 md:ml-0">{dur}</span>
</a>
